.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
}

.submit {
  margin: 30px 0 !important;
}

.avatar {
  width: 120px !important;
  height: 120px !important;
}

.title {
  text-transform: uppercase;
  margin: 1em !important;
  font-size: 30px !important;
  font-weight: bold !important;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  opacity: 0.5;
}