.wrapper_changepass {
  background-color: #fff;
}
.modal_wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
}
.title {
  text-align: center;
  margin-top: 20px;
}
.wrapper_signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  margin-top: 10px;
}
.submit {
  margin-bottom: 10px !important;
}
.btn_change {
  margin: 20px 0 !important;
}
.title_change {
  padding-top: 20px;
  text-align: center;
}
