.dFlex {
  display: flex;
}

.buttonLeft {
  margin-left: auto !important;
  margin-bottom: 1em !important;
}

.icon:hover {
  opacity: 0.3;
  cursor: pointer;
}

.buttonAuth {
  height: 100%;
}

.buttonSubmit {
  margin: 15px 0 !important;
  min-width: 100px !important;
  margin-left: 30px !important;
}