.dFlex {
  display: flex;
}

.buttonLeft {
  margin-left: auto !important;
  margin-bottom: 1em !important;
}

.icon:hover {
  opacity: 0.3;
  cursor: pointer;
}

.buttonAuth {
  height: 56px;
}

.button {
  height: 50px;
  min-width: 120px !important;
  margin: 0 12px !important;
}

.buttonCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  width: 100%;
  height: 56px;
}

.buttonNone {
  display: none;
}