.full {
    width: 100%;
    height: 56px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    height: 50px;
    min-width: 100px !important;
    margin: 0 12px !important;
}
.error {
    color: red;
    font-size: 10px;
}