.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.center {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.select {
  padding: 2px 5px;
  height: 40px;
  font-size: 14px;
}

.tableResponsive {
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;
}

.table {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.tableLink {
  margin-right: 10px !important;
}

.border{
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
  padding: 40px;
}

.heading{
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 20;
  transform: translateY(-60%);
  z-index: 99;
  background-color: #eeeeee;
}

.formLabel{
  width: 20%;
}

.formSelect{
  height: 45px;
  background-color: unset;
}

