.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.center {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.select {
  padding: 2px 5px;
  height: 40px;
  font-size: 14px;
}

.tableResponsive {
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;
  text-align: center;
}

.table {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}
.tableBody{
  min-height: 538.47px !important;
}

.tableLink {
  margin-right: 20px !important;
  cursor: pointer;
  font-size: 1.3rem !important;
}

.hoverIcon:hover{
  color: #1a35c9;
}

.tableHead{
  background-color: #3F51B5;
}

.white{
  color: white !important;
}

.container {
  margin-top: 30px;
}

.flex2{
  display: flex !important;
}

/* CSS ADD BLOGS */
.full {
  width: 100%;
  height: 56px;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  height: 50px;
  min-width: 100px !important;
  margin: 0 12px !important;
}
.error {
  color: red;
  font-size: 10px;
}
.buttonNone {
  display: none;
}

/* CSS ADD BLOGS */


.root {
  display: flex;
  align-items: center
}
.wrapper {
  position: relative;
}
.buttonProgress {
  position: absolute;
  top: 20%;
  left: 40%;
}